@model APD.AGL.Mvc.Models.AGLViewModel
@{
    ViewBag.Title = "Index";
}
@helper PrintList(List<String> input,String name) {
    <h2>@name</h2>
    <ul>
        @foreach (var cat in input)
        {
            <li>@cat</li>
        }
    </ul>
}
@PrintList(Model.MalesCat, "Male")
@PrintList(Model.FemalesCat, "Female")